<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
    <!-- production version, optimized for size and speed -->
    <script src=//unpkg.com/vue></script>
    <script src=//unpkg.com/vuetrend></script>
</head>

<body>
    <div id="app">
        <h1>[[ title ]]</h1>
        <button @click="myEventHandler">Event</button>
        <trend
        :data="pochadas"
        :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
        auto-draw
        smooth>
        </trend>
        <p>[[temp]]</p>
    </div>

    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port+'/test');

        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                title: 'Hello world',
                socket: null,
                pochadas: [],
                temp: 0
            },
            methods: {
                myEventHandler() {
                    socket.emit('my event')
                }
            }
        });

        socket.on('connect', function () {
            // socket.emit('my event', { data: 'I\'m connected!' });
        });
        socket.on('new temp', function(data) {
            app.pochadas.push(data.temp);
            app.temp = data.temp;
            console.log(data.temp)
        })
    </script>
</body>

</html>